<div id="item1" class="row mb-3">
  <div class="col-4">
    <button class="btn btn-outline-danger">X</button>
    Nom du produit
  </div>
  <div class="col-2 orderQuantity">{% include "quantity.html.twig" %}</div>
  <div class="col-2 orderPrice">P. Achat</div>
  <div class="col-2 orderPublicPrice">P. Public</div>
  <div class="col-2 orderValue">Montant</div>
</div>