  <div class="quantityBox input-group">
      <span class="input-group-btn input-group-prepend">
          <button class="btn btn-dark remove" type="button">-</button>
      </span>
      <input type="number" name="quantity" id="" class="form-control" value="0" min="0" width="100">
      <span class="input-group-btn intup-group-append">
          <button class="btn btn-dark add" type="button">+</button>
      </span>
  </div>