{% extends 'customerIndex.html.twig' %}

{% block title %}Hello CustomerOrderFinishedController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/dspc/Documents/Project/dev/cameg/src/Controller/Customer/CustomerOrderFinishedController.php</code></li>
        <li>Your template at <code>C:/Users/dspc/Documents/Project/dev/cameg/templates/customer/customer_order_finished/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
