{% extends 'customer/customerindex.html.twig' %}

{% block title %}Commandes en attente{% endblock %}

{% block section %}
<div class="example-wrapper">
    <section>
        <div class="card mt-3 orderPending">
            <h4 class="card-header">Vos commandes en attente</h4>
            <div class="card-body">
                <div class="list-group">
                    {% if orderPending %}
                        {% for order in orderPending %}
                            <div class="list-group-item d-flex justify-content-between item{{order.orderNumber}}">
                                Commande N° {{order.orderNumber}}                         
                                <a href="" class="stretched-link link-dark"></a>
                                <span class="text-mutted">{{ order.orderedAt|date('d/m/Y à H : i') }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class=" text-danger">
                            Vous n'avez aucune commande en attente
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}
